

CREATE OR ALTER VIEW [dbo].[LogList]
AS
SELECT        dbo.[Log].Id, dbo.[Log].Date, dbo.[Log].Action, dbo.[Log].Entity, dbo.Account.Name, dbo.Account.Email, dbo.[Log].Account_Id
FROM            dbo.[Log] INNER JOIN
                         dbo.Account ON dbo.[Log].Account_Id = dbo.Account.Id

