
CREATE OR ALTER VIEW [dbo].[CalendarioAlunoList]
AS
SELECT 
    rel.Id,
    rel.Aluno_Id,
    rel.Evento_Id,
    etapaChecklist.Nome AS Checklist,
    etapaChecklist.Id AS Checklist_Id,
    alunoPessoa.Nome AS Aluno,
	alunoPessoa.DataNascimento,
    dbo.formataCelular(alunoPessoa.Celular) AS Celular, 
    aluno.Aluno_Foto,
    aluno.Turma_Id,
	aluno.DataInicioVigencia,
	aluno.DataFimVigencia,
	primeiraAula.Id AS PrimeiraAula_Id,
	primeiraAula.Data AS PrimeiraAula,
	aulaZero.Id AS AulaZero_Id,
	aulaZero.Data AS AulaZero,
	aluno.RestricaoMobilidade,
    turma.Nome AS Turma,
    rel.ReposicaoDe_Evento_Id,
	reposicao.Id as ReposicaoPara_Evento_Id,
    rel.Presente,
    aluno.Apostila_Kit_Id,
    kit.Nome AS Kit,
	abaco.Nome AS Apostila_Abaco, 
	ah.Nome AS Apostila_AH, 
	rel.Apostila_Abaco_Id,
	rel.Apostila_AH_Id,
	rel.NumeroPaginaAbaco, 
	rel.NumeroPaginaAH,
    rel.Observacao,
    rel.Deactivated,
    rel.AlunoContactado,
	rel.ContatoObservacao,
    aluno.PerfilCognitivo_Id,
    perfil.Nome as PerfilCognitivo 
FROM dbo.Evento_Participacao_Aluno AS rel
    INNER JOIN dbo.Aluno AS aluno ON aluno.Id = rel.Aluno_Id
    INNER JOIN dbo.Pessoa AS alunoPessoa ON alunoPessoa.Id = aluno.Pessoa_Id
    INNER JOIN dbo.PerfilCognitivo AS perfil ON perfil.Id = aluno.PerfilCognitivo_Id
    LEFT JOIN dbo.Turma AS turma ON turma.Id = aluno.Turma_Id
	left join dbo.Evento_Participacao_Aluno as relReposicao on relReposicao.ReposicaoDe_Evento_Id = rel.Evento_Id  and relReposicao.Aluno_Id = aluno.Id
	left join dbo.Evento as reposicao on reposicao.Id = relReposicao.Evento_Id
	LEFT JOIN dbo.Apostila_Kit kit on kit.Id = aluno.Apostila_Kit_Id
	LEFT JOIN dbo.Apostila AS abaco ON abaco.Id = rel.Apostila_Abaco_Id AND abaco.Apostila_Tipo_Id = 1 
	LEFT JOIN dbo.Apostila AS ah ON ah.Id = rel.Apostila_AH_Id AND ah.Apostila_Tipo_Id = 2 
	LEFT JOIN dbo.Evento AS primeiraAula ON primeiraAula.Id = aluno.PrimeiraAula_Id
	LEFT JOIN dbo.Evento AS aulaZero ON aulaZero.Id = aluno.AulaZero_Id
    LEFT JOIN (
        SELECT 
            checklist.Id,
            checklist.Nome,
            rel.Aluno_Id
        FROM dbo.Aluno_Checklist_Item AS rel
            INNER JOIN dbo.Checklist_Item AS item ON item.Id = rel.Checklist_Item_Id
            INNER JOIN dbo.Checklist AS checklist ON checklist.Id = item.Checklist_Id
        WHERE (DATEPART(WEEK, rel.Prazo) = DATEPART(WEEK, GETDATE()))
    GROUP BY 
            checklist.Id,
            checklist.Nome,
            rel.Aluno_Id
    ) AS etapaChecklist ON etapaChecklist.Aluno_Id = aluno.Id
