
CREATE FUNCTION [dbo].[formataCelular]
(
  @celular VARCHAR(256)
)
RETURNS VARCHAR(256)
AS
BEGIN

IF (@celular IS NULL)
	RETURN NULL

  DECLARE @intAlpha INT
  DECLARE @celularFinal varchar(40)
  DECLARE @prefixo varchar(40)
  DECLARE @primeiroNumero varchar(40)
  SET @intAlpha = PATINDEX('%[^0-9]%', @celular)
  BEGIN
    WHILE @intAlpha > 0
    BEGIN
      SET @celular = STUFF(@celular, @intAlpha, 1, '' )
      SET @intAlpha = PATINDEX('%[^0-9]%', @celular )
    END
  END
  --RETURN ISNULL(@strAlphaNumeric,0)
  SET @celularFinal = ISNULL(@celular,0)
  SET @primeiroNumero = LEFT(@celularFinal, 1)

  if @primeiroNumero = '0' 
  BEGIN
	SET @celularFinal = SUBSTRING(@celularFinal, 2, LEN(@celularFinal)-1)
  END


  SET @prefixo = LEFT(@celularFinal, 2)
  if @prefixo = '55'
	  BEGIN
		SET @celularFinal = @celularFinal
	  END
	  ELSE
	  BEGIN
		SET @celularFinal = '55' + @celularFinal
	  END

  RETURN @celularFinal
END
