
CREATE FUNCTION [dbo].[GenerateUniqueRM]
(
	@LEN INT,
	@NEWID UNIQUEIDENTIFIER
) 

RETURNS varchar(6)
AS
	BEGIN
		DECLARE @RM VARCHAR(6) = LEFT(@NEWID, @LEN)
		DECLARE @COUNTER INT = (SELECT COUNT(RM) FROM Aluno WHERE RM = @RM)

		WHILE (@COUNTER > 0)
			BEGIN
				SET @RM = LEFT(@NEWID, @LEN)
				SET @COUNTER = (SELECT COUNT(RM) FROM Aluno WHERE RM = @RM)
		END

	RETURN @RM;
END 
