

CREATE OR ALTER VIEW [dbo].[ApostilaList] as 
SELECT
apostila.Id
, apostila.Nome 
, apostila.NumeroTotalPaginas
, apostila.Ordem
, apostila.Apostila_Tipo_Id
, rel.Apostila_Kit_Id
, kit.Nome AS Kit
FROM Apostila apostila 
INNER JOIN Apostila_Kit_Rel rel ON rel.Apostila_Id = apostila.Id
INNER JOIN Apostila_Kit kit ON kit.Id = rel.Apostila_Kit_Id
