
CREATE OR ALTER VIEW [dbo].[TurmaList]
AS
SELECT        
    turma.Id, 
    turma.Nome, 
    turma.DiaSemana, 
    turma.Horario, 
    turma.CapacidadeMaximaAlunos,
    (SELECT COUNT(*) 
     FROM dbo.Aluno AS aluno 
     WHERE aluno.Turma_Id = turma.Id 
     AND aluno.Deactivated IS NULL) AS AlunosAtivos,
    turma.Unidade_Id, 
	turma.LinkGrupo,
    turma.Account_Created_Id, 
    accountCreated.Name AS Account_Created, 
    turma.Created, 
    turma.LastUpdated, 
    turma.Deactivated, 
    turma.Professor_Id, 
    accountProfessor.Name AS Professor, 
    professor.CorLegenda,
    sala.Id AS Sala_Id,
    sala.Andar,
	sala.NumeroSala
FROM Turma AS turma 
INNER JOIN dbo.Account AS accountCreated ON accountCreated.Id = turma.Account_Created_Id 
LEFT JOIN dbo.Professor AS professor ON professor.Id = turma.Professor_Id 
LEFT JOIN dbo.Account AS accountProfessor ON accountProfessor.Id = professor.Account_Id
LEFT JOIN dbo.Sala AS sala ON sala.Id = turma.Sala_Id
