
CREATE OR ALTER VIEW [dbo].[AlunoChecklistView]
AS
SELECT        alunoChecklist.Id, alunoChecklist.Aluno_Id, alunoChecklist.Prazo, alunoChecklist.DataFinalizacao, alunoChecklist.Observacoes, alunoChecklist.Account_Finalizacao_Id, accountFinalizacao.Name AS Account_Finalizacao, 
                         checklistItem.Checklist_Id, alunoChecklist.Checklist_Item_Id, checklistItem.Nome, checklistItem.Ordem
FROM            dbo.Aluno_Checklist_Item AS alunoChecklist LEFT OUTER JOIN
                         dbo.Account AS accountFinalizacao ON alunoChecklist.Account_Finalizacao_Id = accountFinalizacao.Id INNER JOIN
                         dbo.Checklist_Item AS checklistItem ON alunoChecklist.Checklist_Item_Id = checklistItem.Id
