
CREATE OR ALTER view [dbo].[AlunoChecklistItemList] as 
select 
	rel.Id,
	item.Nome as Checklist_Item,
	rel.Checklist_Item_Id,
	rel.Prazo,
	rel.Observacoes,
	item.Checklist_Id,
	checklist.Nome as Checklist,
	rel.Aluno_Id,
	pessoa.Nome as Aluno,
	dbo.formataCelular(pessoa.celular) as Celular,
	case 
		when rel.DataFinalizacao is null 
		then 0
		else 1
	end as Finalizado,
	rel.Account_Finalizacao_Id,
	rel.DataFinalizacao,
	account.Name as Account_Finalizacao,
	aluno.Turma_Id,
	turma.Nome as Turma,
	turma.Professor_Id,
	turma.DiaSemana,
	turma.Horario,
	turma.LinkGrupo,
	accountProfessor.Name as Professor,
	professor.CorLegenda,
	pessoa.Email
from Aluno_Checklist_Item rel
join Aluno aluno on aluno.Id = rel.Aluno_Id
join Pessoa pessoa on pessoa.Id = aluno.Pessoa_Id
join Checklist_Item item on item.Id = rel.Checklist_Item_Id
join Checklist checklist on checklist.Id = item.Checklist_Id
left join Account account on account.Id = rel.Account_Finalizacao_Id
join Turma turma on turma.Id = aluno.Turma_Id
join Professor professor on professor.Id = turma.Professor_Id
join Account accountProfessor on accountProfessor.Id = professor.Account_Id

