
CREATE OR ALTER VIEW [dbo].[AlunoHistoricoList]
AS
SELECT 
	historico.Id,
	historico.Data,
	historico.Descricao,
	historico.Aluno_Id,
	CASE
		WHEN historico.Account_Id IS NOT NULL
		THEN CAST(historico.Account_Id AS VARCHAR)
		WHEN historico.AspNetUser_Id IS NOT NULL
		THEN historico.AspNetUser_Id
		ELSE NULL
	END AS Account_Id,
	CASE
		WHEN historico.Account_Id IS NOT NULL
		THEN account.Name
		WHEN historico.AspNetUser_Id IS NOT NULL
		THEN AspNetUsers.Name
		ELSE NULL
	END AS Account
FROM dbo.Aluno_Historico as historico
LEFT JOIN Account account ON account.Id = historico.Account_Id
LEFT JOIN AspNetUsers aspNetUsers ON aspNetUsers.Id = historico.AspNetUser_Id
