
CREATE OR ALTER VIEW [dbo].[CalendarioProfessorList]
AS
SELECT 
	Participacao.Id,
	Participacao.Evento_Id,
	Professor.Id AS Professor_Id,
	Professor.Account_Id,
	Account.Name AS Nome,
	Account.Phone AS Telefone,
	Professor.CorLegenda,
	Participacao.Presente,
	Participacao.Observacao,
	Professor.ExpedienteInicio,
	Professor.ExpedienteFim
	
FROM Evento_Participacao_Professor AS Participacao
	JOIN Professor ON Professor.Id = Participacao.Professor_Id 
	LEFT JOIN Account ON Account.Id = Professor.Account_Id
