
CREATE FUNCTION [dbo].[random] 
(
	@min int, 
	@max int, 
	@id varchar(250)
) 
returns int
	as 
	begin 
		DECLARE @number int;
		SET @number = ABS(CHECKSUM(@id) % (@max - @min + 1)) + @min;
	return cast(@number as int);
end
