
CREATE OR ALTER VIEW [dbo].[AlunoList]
AS

SELECT        
	aluno.Id, 
	aluno.Pessoa_Id, 
	p.Nome, 
	etapaChecklist.Id AS Checklist_Id, 
	etapaChecklist.Nome AS Checklist, 
	aluno.DataInicioVigencia, 
	aluno.DataFimVigencia,
	aluno.RestricaoMobilidade,
	p.DataNascimento,
	CASE	
		WHEN p.Celular IS NULL 
		THEN NULL
		ELSE dbo.formataCelular(p.Celular)
	END AS Celular, 
	CASE	
		WHEN p.Telefone IS NULL 
		THEN NULL
		ELSE dbo.formataCelular(p.Telefone)
	END AS Telefone, 
	p.Email, 
	p.Observacao, 
	p.Unidade_Id, 
	aluno.Turma_Id, 
	case 
		when turma.Nome is null 
		then 'Indefinido'
		else turma.Nome
	end as Turma,
	turma.DiaSemana, 
	turma.Horario, 
	turma.Professor_Id,
	case 
		when professor.CorLegenda is null 
		then '#000'
		else professor.CorLegenda
	end as CorLegenda,
	case 
		when professorAccount.Name is null 
		then 'Indefinido'
		else professorAccount.Name
	end as Professor,
	p.Pessoa_Sexo_Id, 
	sexo.Nome AS Pessoa_Sexo, 
	p.Pessoa_Status_Id, 
	p.Endereco,
	aluno.Created, 
	aluno.LastUpdated, 
	aluno.Deactivated, 
	aluno.AspNetUsers_Created_Id, 
	aspUsers.Name AS AspNetUsers_Created, 
	aluno.Apostila_Kit_Id, 
	case 
		when kit.Nome is null 
		then 'Indefinido'
		else kit.Nome
	end as Kit,
	abaco.Nome AS Apostila_Abaco, 
	abaco.Id AS Apostila_Abaco_Id, 
	ah.Nome AS Apostila_AH, 
	ah.Id AS Apostila_AH_Id, 
	aluno.NumeroPaginaAbaco, 
	aluno.NumeroPaginaAH,
	aluno.PerfilCognitivo_Id,
	case 
		when perfil.Nome is null 
		then 'Indefinido'
		else perfil.Nome
	end as PerfilCognitivo,
	aluno.RM,
	aluno.LoginApp,
	aluno.SenhaApp,
	turma.LinkGrupo,
	aluno.PrimeiraAula_Id,
	PrimeiraAula.Data AS PrimeiraAula,
	aluno.AulaZero_Id,
	AulaZero.Data AS AulaZero
FROM dbo.Aluno AS aluno 
	INNER JOIN dbo.Pessoa AS p ON p.Id = aluno.Pessoa_Id 
	LEFT JOIN dbo.PerfilCognitivo AS perfil ON perfil.Id = aluno.PerfilCognitivo_Id
	LEFT JOIN dbo.Pessoa_Sexo AS sexo ON sexo.Id = p.Pessoa_Sexo_Id 
	LEFT JOIN dbo.Turma AS turma ON turma.Id = aluno.Turma_Id 
	LEFT JOIN dbo.Evento AS PrimeiraAula ON PrimeiraAula.Id = aluno.PrimeiraAula_Id
	LEFT JOIN dbo.Evento AS AulaZero ON AulaZero.Id = aluno.AulaZero_Id
	LEFT JOIN dbo.Professor AS professor ON professor.Id = turma.Professor_Id 
	LEFT JOIN dbo.Account AS professorAccount ON professorAccount.Id = professor.Account_Id 
	LEFT JOIN dbo.AspNetUsers AS aspUsers ON aspUsers.Id = aluno.AspNetUsers_Created_Id 
	LEFT JOIN dbo.Apostila_Kit kit on kit.Id = aluno.Apostila_Kit_Id
	LEFT JOIN dbo.Apostila AS abaco ON abaco.Id = aluno.Apostila_Abaco_Id AND abaco.Apostila_Tipo_Id = 1 
	LEFT JOIN dbo.Apostila AS ah ON ah.Id = aluno.Apostila_AH_Id AND ah.Apostila_Tipo_Id = 2 
		LEFT JOIN (
			SELECT 
				checklist.Id, 
				checklist.Nome, 
				rel.Aluno_Id
			FROM dbo.Aluno_Checklist_Item AS rel 
				INNER JOIN dbo.Checklist_Item AS item ON item.Id = rel.Checklist_Item_Id 
				INNER JOIN dbo.Checklist AS checklist ON checklist.Id = item.Checklist_Id
			WHERE (DATEPART(week, rel.Prazo) = DATEPART(week, GETDATE())) 
			GROUP BY 
				checklist.Id, 
				checklist.Nome, 
				rel.Aluno_Id
		) AS etapaChecklist ON etapaChecklist.Aluno_Id = aluno.Id
