
CREATE OR ALTER VIEW [dbo].[AccountList]
AS
SELECT        
account.Id, 
account.Name, 
account.Email, 
CASE	
	WHEN account.Phone IS NULL 
	THEN NULL
	ELSE dbo.formataCelular(account.Phone)
END AS Phone,
account.Verified, 
account.PasswordReset, 
account.Role_Id, 
account.Account_Created_Id, 
account.Created, 
account.LastUpdated, 
account.Deactivated, 
role.Role, 
accountCreated.Name AS Account_Created
FROM dbo.Account AS account
INNER JOIN dbo.AccountRole AS role ON account.Role_Id = role.Id 
LEFT JOIN dbo.Account AS accountCreated ON account.Account_Created_Id = accountCreated.Id 
