
CREATE OR ALTER VIEW [dbo].[CalendarioEventoList] AS 

WITH ResumoVagasTurma AS (
	SELECT
		Turma.Id AS Turma_Id,
		Turma.CapacidadeMaximaAlunos,
		COUNT(Aluno.Id) AS AlunosAtivos,
		Turma.CapacidadeMaximaAlunos - COUNT(Aluno.Id) AS VagasDisponiveis
	FROM Turma
	LEFT JOIN Aluno ON Turma.Id = Aluno.Turma_Id AND Aluno.Deactivated IS NULL
	GROUP BY Turma.Id, Turma.CapacidadeMaximaAlunos
),
ResumoVagasEvento AS (
	SELECT
		Evento.Id AS Evento_Id,
		Evento.CapacidadeMaximaAlunos,
		COUNT(Evento_Participacao_Aluno.Id) AS AlunosAtivos,
		Evento.CapacidadeMaximaAlunos - COUNT(Evento_Participacao_Aluno.Id) AS VagasDisponiveis
	FROM Evento
	LEFT JOIN Evento_Participacao_Aluno ON Evento_Participacao_Aluno.Evento_Id = Evento.Id AND Evento_Participacao_Aluno.Deactivated IS NULL
	JOIN Aluno ON Aluno.Id = Evento_Participacao_Aluno.Aluno_Id
	WHERE 
		Aluno.DataInicioVigencia <= Evento.Data
		AND (
			Aluno.DataFimVigencia IS NULL -- Se aluno não possui data de fim, conta como se fosse vitalícia
			OR Aluno.DataFimVigencia >= Evento.Data -- Se possuir fim, evento deve estar dentro do intervalo
		)
	GROUP BY Evento.Id, Evento.CapacidadeMaximaAlunos
)

SELECT Evento.Id,
       Evento.Evento_Tipo_Id,
       Evento.Data,
       Evento.Sala_Id,
       Evento.Descricao,
       Evento.Observacao,
       Evento.DuracaoMinutos,
       Evento.Finalizado,
       Evento.Created,
       Evento.LastUpdated,
       Evento.Deactivated,
       Evento.ReagendamentoDe_Evento_Id,
       Reagendamento.Id as ReagendamentoPara_Evento_Id,

       Aula.Professor_Id,
       Aula.Turma_Id,

	   ResumoVagasEvento.CapacidadeMaximaAlunos AS CapacidadeMaximaEvento,
	   ResumoVagasEvento.AlunosAtivos AS AlunosAtivosEvento,
	   ResumoVagasEvento.VagasDisponiveis AS VagasDisponiveisEvento,
	   ResumoVagasTurma.CapacidadeMaximaAlunos AS CapacidadeMaximaTurma,
	   ResumoVagasTurma.AlunosAtivos AS AlunosAtivosTurma,
	   ResumoVagasTurma.VagasDisponiveis AS VagasDisponiveisTurma,

       Aula.Roteiro_Id,

	   Professor.CorLegenda,
	   Account.Name AS Professor,

	   Roteiro.Tema,
	   Roteiro.Semana,

	   Sala.Andar,
	   Sala.NumeroSala,

	   Turma.Nome AS Turma,
	   Evento_Tipo.Nome AS Evento_Tipo,

       Evento.Account_Created_Id,
	   Created.Name AS Account_Created
FROM Evento AS Evento
	LEFT JOIN Evento_Aula AS Aula ON Aula.Id = Evento.Id
	JOIN Evento_Tipo AS Evento_Tipo ON Evento_Tipo.Id = Evento.Evento_Tipo_Id
	LEFT JOIN Professor AS Professor ON Professor.Id = Aula.Professor_Id 
	LEFT JOIN Account AS Account ON Account.Id = Professor.Account_Id
	LEFT JOIN Roteiro AS Roteiro ON Roteiro.Id = Aula.Roteiro_Id
	LEFT JOIN Sala AS Sala ON Sala.Id = Evento.Sala_Id
	LEFT JOIN Turma AS Turma ON Turma.Id = Aula.Turma_Id
	LEFT JOIN Evento AS Reagendamento ON Reagendamento.ReagendamentoDe_Evento_Id = Evento.Id
	LEFT JOIN Account AS Created ON Created.Id = Evento.Account_Created_Id
	LEFT JOIN ResumoVagasTurma ON ResumoVagasTurma.Turma_Id = Turma.Id
	LEFT JOIN ResumoVagasEvento ON ResumoVagasEvento.Evento_Id = Evento.Id
