
CREATE OR ALTER VIEW [dbo].[ProfessorList]
AS
SELECT        
	professor.Id, 
	professor.Account_Id, 
	account.Name AS Nome, 
		CASE	
			WHEN account.Phone IS NULL 
			THEN NULL
			ELSE dbo.formataCelular(account.Phone)
		END AS Telefone,
	account.Email, 
	professor.DataInicio, 
	professor.CorLegenda, 
	professor.DataNascimento,
	professor.ExpedienteInicio,
	professor.ExpedienteFim,
	account.Account_Created_Id, 
	account.Created, 
	account.LastUpdated, 
	account.Deactivated, 
	accountCreated.Name AS Account_Created,
	nivel.Id AS Professor_NivelCertificacao_Id,
	nivel.Descricao AS Professor_NivelCertificacao
FROM Professor as professor 
	INNER JOIN Account account ON account.Id = professor.Account_Id
	LEFT JOIN Account accountCreated ON accountCreated.Id = account.Account_Created_Id
	LEFT JOIN Professor_NivelCertificacao nivel ON nivel.Id = professor.Professor_NivelCertificacao_Id
